[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = https://github.com/TsudaKageyu/minhook.git
